main p
{
  font-size: calc(24px + 16 * (100vw / 1280));
  margin:  0px 1.5em;
  text-align: justify;
}
h2
 {
  font-size: 2em;
  text-align: center;
}

footer
{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

hr
{
border: 1px solid rgba(0, 0, 0, 0);
}
